* {
  box-sizing: border-box;
}

body {
  background-color: #c0deed;
  margin: auto;
  padding: 0;
  color: #14171a;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 32px;
  width: 600px;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 16px;
  background: #1da1f2;
  border: 1px solid #1f1f1f;
  margin: -1px 0;
  transition: 50ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.post-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

input {
  background-color: #e8f6ff;
  color: #17212b;
  width: 100%;
}

.post-info {
  font-size: 0.8em;
  color: #d9f2ff;
}
.content {
  font-size: 2em;
}

a .container:hover {
  background: linear-gradient(180deg, #080815 0%, #010102 100%);
}

input {
  background-color: #ffffff;
  padding: 16px;
  color: #1da1f2;
  border: none;
}

button {
  background-color: #0d8edc;
  color: white;
  border: white;
  padding: 12px;
  border-radius: 100px;
}

.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
